Cytuj stronę | imię={{name}} | nazwisko={{surname}} | tytuł={{{title}}} | opublikowany={{pismo}} |  url={{url}} | data={{data}} | data dostępu={{data_d}} | {{#lang}} język={{lang}} | {{/lang}} {{#imię2}} imię2={{imię2}} | {{/imię2}} {{#nazwisko2}} nazwisko2={{nazwisko2}} {{/nazwisko2}}
